<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>VidArk...the video archiver</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  
</head>
<body style="padding-top: 65px;">
 
<div class="container fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='img/aardvark-small.png') }}" />
      VidArk</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="tagmenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tags
            </a>
            <ul class="dropdown-menu" aria-labelledby="tagmenu">
              {% for t in g.tags %}
              <li>
                {% if videotags is defined %}
                    {% if t.name not in videotags %}
                    <a class="dropdown-item" href="{{ url_for('video_addtag', id=v.id, name=t.name) }}">{{ t.name }}</a>
                    {% endif %}
                {% else %}
                <a class="dropdown-item" href="{{ url_for('inc_tag', name=t.name) }}">{{ t.name }}</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('clear_tags') }}">Clear Tags</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          {% if 'u' in session %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="tagmenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ session.u.name }} ({{ session.level }})
            </a>
            <ul class="dropdown-menu" aria-labelledby="tagmenu">
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>

{% if 'inc' in session %}
<div class="container">
    <div class="row">
        <div class="col">
            Only videos with tags {{ session.inc }}
        </div>
    </div>
</div>
{% endif %}

{% block maincontent %}{% endblock maincontent %}

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>
