{% extends 'base.html' %}

{% block maincontent %}

<main class="container">
  {% for v in videos %}
  <div class="row mb-2 mt-2">
    <div class="col-md-4">
      <a href="{{ url_for('watch', id=v.id) }}">
      <img src="{{ url_for('content_static', filename=v.id) }}.thumb" class="card-img-top"/>
      </a>
    </div>
    <div class="col-md-8">
      <a href="{{ url_for('watch', id=v.id) }}">
        <h5 class="card-title">{{ v.title }}</h5>
      </a>
      <p class="card-text">Added {{ v.date_added }} Runtime {{ v.duration }}</p>
      <p class="card-text">Tags: {{ v.tags }}</p>
      <p>Level: {{ v.level }}</p>
    </div>
  </div>
  {% endfor %}
</main>

{% endblock maincontent %}
