{% extends 'base.html' %}

{% block maincontent %}
<div class="container">

<div class="ratio ratio-16x9">
    <video  controls="controls" src="{{ url_for('content_static', filename=v.id) }}">
    </video>
</div>
<h1>{{ v.title }}</h1>
<p>{{ v.desc }}</p>

{% if session.level < 99 %}
<p>Tags: {{ videotags }}</p>
{% else %}

<p>Tags (click to remove): {% for t in videotags %}<a href="{{ url_for('video_deltag', id=v.id, name=t) }}">{{ t }}</a> {% endfor %}

{% endif %}


{% if session.level | int > 99 %}
<p><a href="{{ url_for('video_delete', id=v.id) }}">Remove this video</a></p>
{% endif %}

</div>
{% endblock %}
